{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Ecology KPI{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}">
    {% endblock %}
</head>
<body style="padding-top:4rem;">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{% url 'index' %}">Ecology KPI</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">Manage</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'companies' %}">Company Map</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'emissions' %}">Emissions Table</a></li>

            </ul>
        </nav>
    </header>

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    {% block js %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/datatables.min.js' %}"></script>

    {% endblock %}
</body>
</html>