{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Company Map{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        #map {
            height: 100%;
            width: 100%;
        }
        .map-container {
            width: 100%;
            height: 600px;
            margin: 0 auto;
        }
        .pre-scrollable {
            max-height: 600px;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col">
                <ul class="nav justify-content-center nav-pills" style="margin-bottom: 15px;">
                    <li class="nav-item">
                        <a class="nav-link {% if not active_region %}active{% endif %}" href="{% url 'companies' %}">Все</a>
                    </li>
                    {% for region in regions %}
                        <li class="nav-item">
                            <a class="nav-link {% if region == active_region %}active{% endif %}"
                               href="{% url 'companies' %}?region={{ region.pk }}">
                                {{ region.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="map-container">
                    <div id="map"></div>
                </div>
            </div>
            <div class="col pre-scrollable">
                <table class="table str table-sm table-striped">
                    <thead class="thead-primary">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Tax <small class="text-muted">uah</small></th>
                        </tr>
                    </thead>
                    {% for company in companies %}
                        <tr onclick="zoomToMarker({{ company.pk }})" style="cursor:pointer;"
                            {% if company.is_danger %}class="table-danger"{% endif %}>
                            <th>{{ forloop.counter }}</th>
                            <td>{{ company.name }}</td>
                            <td>
                                {% if company.tax_to_pay > 0 %}
                                    {{ company.tax_to_pay|floatformat:"2" }}<small class="text-muted">грн</small>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        var map = null;
        var markers = [];

        function zoomToMarker(pk) {
            for(var i=0; i<markers.length; i++){
                if(markers[i].id === pk){
                    map.setZoom(15);
                    map.panTo(markers[i].position);
                    window.m = markers[i];
                    markers[i].setAnimation(google.maps.Animation.DROP);
                }
            }
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 50, lng: 30 },
                zoom: 7
            });

            {% for company in companies %}
                {% if company.location.x %}
                    markers.push(new google.maps.Marker({
                        position: { lat:{{ company.location.y }}, lng:{{ company.location.x }} } ,
                        title: '{{ company.name }}',
                        map: map,
                        id: {{ company.pk }},
                        {% if company.is_danger %}
                            icon: "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
                        {% else %}
                            icon: "http://maps.google.com/mapfiles/ms/icons/green-dot.png",
                        {% endif %}
                    }));
                {% endif %}
            {% endfor %}

            var bounds = new google.maps.LatLngBounds();
            for(var i=0; i<markers.length; i++) {
                bounds.extend(markers[i].getPosition());
            }

            map.setCenter(bounds.getCenter());
            map.fitBounds(bounds);
            map.setZoom(map.getZoom()-1);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ SETTINGS.GOOGLE_MAP_API_KEY }}&callback=initMap" async defer></script>
{% endblock %}
