{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Company Map{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col">
                <ul class="nav justify-content-center nav-pills" style="margin-bottom: 15px;">
                    <li class="nav-item">
                        <a class="nav-link {% if not active_region %}active{% endif %}" href="{% url 'emissions' %}">Все</a>
                    </li>
                    {% for region in regions %}
                        <li class="nav-item">
                            <a class="nav-link {% if region == active_region %}active{% endif %}"
                               href="{% url 'emissions' %}?region={{ region.pk }}">
                                {{ region.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table id="datat" class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th rowspan="2">#</th>
                            <th rowspan="2">Назва об'єкту</th>
                            <th rowspan="2">Назва речовини</th>
                            <th rowspan="2">Об'єм викидів <br><small>г/год</small></th>
                            <th colspan="2">Нормативи ГДВ</th>
                            <th rowspan="2">Заходи спрямовані на зменшення викидів</th>
                            <th rowspan="2">Перевищення</th>
                            <th rowspan="2">Податок</th>
                        </tr>
                        <tr>
                            <th>ВМВ<br><small>г/год</small></th>
                            <th>ГДВ<br><small>мг/м<sup>3</sup></small></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emission in emissions %}
                            <tr class="{% if emission.overemit_percentage %}table-danger{% endif %}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ emission.company.name }}</td>
                                <td>{{ emission.pollutant.name }}</td>
                                <td>{{ emission.emission }}</td>
                                <td>{{ emission.pollutant.mass_flow }}</td>
                                <td>{{ emission.pollutant.maximum_emission }}</td>
                                <td>{{ emission.comment }}</td>
                                <td>
                                    {% if emission.overemit_percentage %}
                                        <b>{{ emission.overemit_percentage|floatformat:"2" }}</b><small class="text-muted">%</small>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if emission.tax_to_pay is not None %}
                                        {{ emission.tax_to_pay|floatformat:"2" }}<small class="text-muted">грн</small>
                                    {% endif %}
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>



    </section>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            $('#datat').DataTable({
                iDisplayLength: 100,
            });
        });
    </script>
{% endblock %}
